<div class="flex flex-col items-center">
  <div
    appUploadzone
    class="bg-gray-300 flex flex-col items-center justify-around p-5 mt-7 w-80 h-56"
    (hovered)="toggleHover($event)"
    (dropped)="startUpload($event)"
    [ngClass]="{ 'bg-gray-100': isHovering }"
  >
    <div class="text-lg select-none">Drag and drop a file</div>

    <div [ngSwitch]="isUploading" class="w-60">
      <mat-progress-bar *ngSwitchCase="true" mode="indeterminate"></mat-progress-bar>
      <mat-progress-bar *ngSwitchCase="false" mode="determinate"></mat-progress-bar>
    </div>

    <div class="flex flex-col items-center mt-3">
      <label for="file"></label>
      <input type="file" (change)="startUpload($event)" />
    </div>
  </div>

  <div class="mt-6">
    <app-table
      [uploadedFiles]="uploadedFiles">
    </app-table>
  </div>
</div>
