<div class="flex flex-col items-center">
  <div
    appUploadzone
    class="bg-gray-700 flex flex-col items-center justify-around p-5 mt-7 w-80 h-48 rounded shadow"
    (hovered)="toggleHover($event)"
    (dropped)="startUpload($event)"
    [ngClass]="{ 'bg-gray-500': isHovering }"
  >
    <div class="text-xl text-gray-50 select-none">Drop file(s) here</div>

    <div [ngSwitch]="isUploading" class="w-60 h-6">
      <mat-progress-bar
        *ngSwitchCase="true"
        mode="indeterminate"
      ></mat-progress-bar>
      <div
        *ngSwitchCase="false"
        class="text-base text-center select-none text-gray-200"
      >
        or
      </div>
    </div>
    <input
      type="file"
      class="hidden"
      (change)="startUpload($event)"
      multiple
      #fileUpload
    />
    <button
      for="file"
      mat-raised-button
      color="primary"
      class="text-lg"
      (click)="fileUpload.click()"
    >
      Select file(s)
    </button>
  </div>

  <div class="mt-6">
    <app-table [uploadedFiles]="uploadedFiles"> </app-table>
  </div>
</div>
